.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  text-decoration: "line-through";
  display:inline-block;
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
  height: 30px;
  width: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.input {
  border: 2px solid #000;
  margin-right: 10px;
}

.task-count {
  margin: 10px;
}

.tasks {

}

.complete {
  text-decoration: line-through;
}